* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  padding: 100px 300px 0px 570px;
}

.form {
  display: block;
  width: 400px;
  height: 200px;
}
.card-border {
  border: solid black 2px;
  border-radius: 10px;
  padding: 10px;
}

.card-body {
  text-align: center;
  align-items: center;
  padding: 1px;
  font-size: 25px;
  padding-top: 20px;
}

.button-container {
  padding: 10px;
}

.send-button {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  font-size: 20px;
  background-color: #166fe5;
  color: white;
  cursor: pointer;
}

.input-container {
  padding: 10px;
  padding-top: 20px;
}
.input {
  width: 100%;
  padding: 15px;
  border-radius: 6px;
}

.fondo-azul {
  background: blue;
}

.error {
  font-size: 15px;
  color: red;
}
